@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:lightgrey">
    <div class="jumbotron">
        <h1>Welcome to the SWCG Car Dealership!</h1>
        <p>Go ahead and look around!</p>
   </div>
    <div class="col-xs-6"><img src="http://chevrolet-parts.uneedapart.com/images/chevrolet-el-camino-parts.jpg" width="100%"></div>
    <div class="col-xs-6"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/1985SubaruBrat.JPG/800px-1985SubaruBrat.JPG" width="100%"></div>
</body>

